// Colors
$primaryColor: #0f044c;
$secondaryColor: #141e61;
$overlayColor: #cef9f2;
$textColor: #787a91;
$neutralColor: #eeeeee;
$white: #f7f7f7;
$footerBlue: #06011e;
$backgroundColor: linear-gradient(-20deg, #ece9e6, #ffffff);

// links
$colorLink: #3b4fd7;
$colorLinkHover: #4b5eda;

// fonts
$primaryFont: "Roboto", sans-serif;
$fontPortfolio: "Fraunces", serif;

// Transitions
$hamburgerTrans: all 0.75s ease-in-out;
